{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drain Blockage Reporting System</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home:home' %}">DrainCare</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="">{{ user.username }}</a></li>
                        <li class="nav-item"><a class="btn btn-success ms-2" href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="btn btn-warning ms-2" href="{% url 'accounts:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="content flex-fill">
        {% block content %}

        {% endblock content %}
    </div>
    <footer class="bg-dark text-white text-center p-3">
        <p class="mb-0">© 2026 DrainCare | University Project</p>
    </footer>
</div>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>